NODE_ENV=development
PORT=4000

DB_HOST=localhost
DB_PORT=3306
DB_NAME=techstore_db
DB_USER=root
DB_PASSWORD=
DB_LOGGING=false

JWT_SECRET=your_jwt_secret_here_minimum_64_characters
JWT_EXPIRES_IN=8h
JWT_MFA_SECRET=your_mfa_jwt_secret_here_minimum_64_characters
JWT_MFA_EXPIRES=5m

APP_NAME=TechStore
CORS_ORIGIN=http://localhost:5173